<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Profile Page</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>

      <h1>Welcome to your profile <%= user.firstName %></h1>
      <br>
      <p>Today's date is <%= date %>.</p>
      <br>
      <p>Currently, the temperature in <%= user.city %>  is <%= Math.floor(temperature) %> C.</p>
      <br>
      <p>Weather summary for today is <%= summary %>. You can expect <%= expect %></p>
  </body>
</html>
